.types{margin-top: 10vh;
    .owl-carousel{width: 100%; margin-right: 0;
        margin-left: 0;
        .owl-item.active{width: 30%;}
        .card{text-align: end;
            background-color: #f8f8f8;
            border: none;
            img{height: 100%;
               
                padding-top: 14px; }
            b{font-weight: bold; color: rgb( 51, 51, 51 );
                font-size: 35px;
                text-transform: uppercase;}
            a.btn.btn-secondary{background: transparent; color: rgb( 51, 51, 51 ); border-radius: 0%;
                &:hover{background-color: $seccolor; color: white; border-color:transparent ;}
            }
        }
    }
}
